@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

$blueColor: #1d58bf;
$blueHover: #13397c;
$orangeColor: #e95d2e;

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}